@model IEnumerable<DnDesigner.Models.Class>

@{
    ViewData["Title"] = "ViewClasses";
}

<h1>ViewClasses</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sourcebook)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HitDie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sourcebook)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HitDie)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ClassId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ClassId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ClassId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
