@model IEnumerable<DnDesigner.Models.Spell>

@{
    ViewData["Title"] = "ViewSpells";
}

<h1>ViewSpells</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SourceBook.Initials)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpellLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpellSchool)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CastingTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Range)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Components)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsRitual)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequiresConcentration)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SourceBook.Initials)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpellLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpellSchool)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CastingTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Range)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Components)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsRitual)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequiresConcentration)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SpellId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SpellId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SpellId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
