@model IEnumerable<DnDesigner.Models.Proficiency>

@{
    ViewData["Title"] = "ViewProficiencies";
}

<h1>ViewProficiencies</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MainAttribute)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProficiencyType)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MainAttribute)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProficiencyType)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProficiencyId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProficiencyId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProficiencyId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
