@model Character

@{
    ViewData["Title"] = Model.Name + " Character Sheet";
    int armorClass = 10;
}

<h2>@Model.Name</h2>
<h3>
    @Model.Level
    @foreach (CharacterClass Class in Model.Classes)
    {
        @Html.DisplayFor(Model => Class.Class.Name)
        if (Class.Subclass != null)
        {
            @Html.DisplayFor(Model => Class.Subclass.Name)
        }
    }
</h3>
<h4>@Model.Race.Name @Model.Background.Name</h4>

<hr />
<form asp-action="CharacterSheet">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <!--Start of Character Sheet Layout-->
    <div class="container">

        <!--Rest / Hit Die / Equipment Button bar-->
        <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group me-2" role="group">
                    <input type="checkbox" class="btn-check" role="button" id="saveToggle" data-bs-toggle="collapse"
                           data-bs-target="#saves" aria-expanded="false" aria-controls="saves" aria-pressed="true">
                    <label class="btn btn-outline-primary" for="saveToggle">Saves</label>
                </div>
                <div class="btn-group me-2" role="group">
                    <input type="checkbox" class="btn-check" role="button" id="skillToggle" data-bs-toggle="collapse"
                           data-bs-target="#skills" aria-expanded="false" aria-controls="skills" aria-pressed="true">
                    <label class="btn btn-outline-primary" for="skillToggle">Skills</label>
                </div>
                <div class="btn-group me-2" role="group">
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#longRestModal">
                        Long Rest
                    </button>
                </div>
                <div class="btn-group me-2" role="group">
                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#shortRestModal">
                        Short Rest
                    </button>
                </div>
                <div class="btn-group me-2" role="group">
                    <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#hitDieModal">
                        Hit Dice
                    </button>
                </div>
            </div>
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group me-2" role="group">
                    <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#equipmentModal">
                        Equipment
                    </button>
                </div>
            </div>
        </div>
        <br>

        <!--Long Rest Modal-->
        <div class="modal fade" id="longRestModal" tabindex="-1" aria-labelledby="longRestLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="longRestLabel">Long Rest</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-center">
                        <h5>Place holder for what player gets back</h5>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success">Complete Long Rest</button>
                    </div>
                </div>
            </div>
        </div>

        <!--Short Rest Modal-->
        <div class="modal fade" id="shortRestModal" tabindex="-1" aria-labelledby="shortRestLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="shortRestLabel">Short Rest</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-center">
                        <h5>Place holder for what player gets back</h5>
                        <h5>Hit Dice Available</h5>
                        <h5>Spend hit dice</h5>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success">Complete Short Rest</button>
                    </div>
                </div>
            </div>
        </div>

        <!--Hit Die Modal-->
        <div class="modal fade" id="hitDieModal" tabindex="-1" aria-labelledby="hitDieLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="hitDieLabel">Hit Dice</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-center">
                        <h5>Total Hit Die</h5>
                        <h3>3</h3>
                        <br>
                        <h5>Hit Die Available</h5>
                        <h3>3</h3>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!--Equipment Modal-->
        <div class="modal fade" id="equipmentModal" tabindex="-1" aria-labelledby="equipmentLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="equipmentLabel">Equipment</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-center">
                        <h5>Place holder for equipment</h5>
                        <h5>Hands</h5>
                        <h5>Armor</h5>
                        <h5>Attunement</h5>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-success">Save Equipment</button>
                    </div>
                </div>
            </div>
        </div>

        <!--Flex div open-->
        <div class="row flex-nowrap">

            <!--Saves & Skills-->
            <div class="col-auto text-center">
                <div class="collapse collapse-horizontal" id="saves">
                    <ul class="list-group" style="width: 12rem;">
                        @foreach (CharacterProficiency save in Model.GetSaves())
                        {
                            <!--Get save bonus and generate id strings-->
                            int? modifier = save.GetRollBonus();
                            string saveId = save.Proficiency.ProficiencyId.ToString();
                            string saveBtnSingleD20 = "singleD20";
                            string saveBtnAdv = "adv";
                            string saveBtnDis = "dis";
                            if (modifier != 0)
                            {
                                saveBtnSingleD20 = "singleD20_mod";
                                saveBtnAdv = "adv_mod";
                                saveBtnDis = "dis_mod";
                            }
                            string saveToastIdSingleD20 = "singleD20SaveToast_" + saveId;
                            string saveToastIdAdv = "advSaveToast_" + saveId;
                            string saveToastIdDis = "disSaveToast_" + saveId;
                            <!--Populate save list item-->
                            if (save.ProficiencyLevel == 1)
                            {
                                <li class="list-group-item">@modifier @save.Proficiency.Name P</li>
                            }
                            else
                            {
                                <li class="list-group-item">@modifier @save.Proficiency.Name</li>
                            }
                            <!--Populate save roll buttons-->
                            <li class="list-group-item">
                                @if (modifier == 0)
                                {
                                    <button type="button" class="btn btn-sm btn-primary" onclick="assignToast('@saveBtnSingleD20', '@saveToastIdSingleD20')">D20</button>
                                    <button type="button" class="btn btn-sm btn-success" onclick="assignToast('@saveBtnAdv', '@saveToastIdAdv')">Adv</button>
                                    <button type="button" class="btn btn-sm btn-danger" onclick="assignToast('@saveBtnDis', '@saveToastIdDis')">Dis</button>
                                }
                                else
                                {
                                    <button type="button" class="btn btn-sm btn-primary" onclick="assignToastMod('@saveBtnSingleD20', '@saveToastIdSingleD20', '@modifier')">D20</button>
                                    <button type="button" class="btn btn-sm btn-success" onclick="assignToastMod('@saveBtnAdv', '@saveToastIdAdv', '@modifier')">Adv</button>
                                    <button type="button" class="btn btn-sm btn-danger" onclick="assignToastMod('@saveBtnDis', '@saveToastIdDis', '@modifier')">Dis</button>
                                }
                            </li>
                            <!--Start of save roll Toast Section-->
                            <!--Single D20 Save-->
                            <div class="toast-container position-fixed bottom-0 end-0 p-3">
                                <div id="@saveToastIdSingleD20" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                                    <div class="toast-header">
                                        <strong class="me-auto">@save.Proficiency.Name</strong>
                                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                                    </div>
                                    <div class="toast-body">
                                        
                                    </div>
                                </div>
                            </div>
                            <!--Save Advantage-->
                            <div class="toast-container position-fixed bottom-0 end-0 p-3">
                                <div id="@saveToastIdAdv" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                                    <div class="toast-header">
                                        <strong class="me-auto">@save.Proficiency.Name at Advantage</strong>
                                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                                    </div>
                                    <div class="toast-body">
                                        
                                    </div>
                                </div>
                            </div>
                            <!--Save Disadvantage-->
                            <div class="toast-container position-fixed bottom-0 end-0 p-3">
                                <div id="@saveToastIdDis" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                                    <div class="toast-header">
                                        <strong class="me-auto">@save.Proficiency.Name at Disadvantage</strong>
                                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                                    </div>
                                    <div class="toast-body">
                                        
                                    </div>
                                </div>
                            </div>
                            <!--End of save roll Toast Section-->
                        }
                    </ul>
                </div>
                <br>
                <div class="collapse collapse-horizontal" id="skills">
                    <ul class="list-group" style="width: 12rem;">
                        @foreach (CharacterProficiency skill in Model.GetSkills())
                        {
                            <!--Get skill bonus and generate id strings-->
                            int? modifier = skill.GetRollBonus();
                            string skillId = skill.Proficiency.ProficiencyId.ToString();
                            string skillBtnSingleD20 = "singleD20";
                            string skillBtnAdv = "adv";
                            string skillBtnDis = "dis";
                            if (modifier != 0)
                            {
                                skillBtnSingleD20 = "singleD20_mod";
                                skillBtnAdv = "adv_mod";
                                skillBtnDis = "dis_mod";
                            }
                            string skillToastIdSingleD20 = "singleD20SkillToast_" + skillId;
                            string skillToastIdAdv = "advSkillToast_" + skillId;
                            string skillToastIdDis = "disSkillToast_" + skillId;
                            <!--Populate skill list item-->
                            if (skill.ProficiencyLevel == 1)
                            {
                                <li class="list-group-item">@modifier @skill.Proficiency.Name P</li>
                            }
                            else if (skill.ProficiencyLevel == 2)
                            {
                                <li class="list-group-item">@modifier @skill.Proficiency.Name E</li>
                            }
                            else
                            {
                                <li class="list-group-item">@modifier @skill.Proficiency.Name</li>
                            }
                            <!--Populate skill roll buttons-->
                            <li class="list-group-item">
                                @if (modifier == 0)
                                {
                                    <button type="button" class="btn btn-sm btn-primary" onclick="assignToast('@skillBtnSingleD20', '@skillToastIdSingleD20')">D20</button>
                                    <button type="button" class="btn btn-sm btn-success" onclick="assignToast('@skillBtnAdv', '@skillToastIdAdv')">Adv</button>
                                    <button type="button" class="btn btn-sm btn-danger" onclick="assignToast('@skillBtnDis', '@skillToastIdDis')">Dis</button>
                                }
                                else
                                {
                                    <button type="button" class="btn btn-sm btn-primary" onclick="assignToastMod('@skillBtnSingleD20', '@skillToastIdSingleD20', '@modifier')">D20</button>
                                    <button type="button" class="btn btn-sm btn-success" onclick="assignToastMod('@skillBtnAdv', '@skillToastIdAdv', '@modifier')">Adv</button>
                                    <button type="button" class="btn btn-sm btn-danger" onclick="assignToastMod('@skillBtnDis', '@skillToastIdDis', '@modifier')">Dis</button>
                                }
                            </li>
                            <!--Start of skill roll Toast Section-->
                            <!--Single D20 Skill-->
                            <div class="toast-container position-fixed bottom-0 end-0 p-3">
                                <div id="@skillToastIdSingleD20" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                                    <div class="toast-header">
                                        <strong class="me-auto">@skill.Proficiency.Name</strong>
                                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                                    </div>
                                    <div class="toast-body">

                                    </div>
                                </div>
                            </div>
                            <!--Skill Advantage-->
                            <div class="toast-container position-fixed bottom-0 end-0 p-3">
                                <div id="@skillToastIdAdv" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                                    <div class="toast-header">
                                        <strong class="me-auto">@skill.Proficiency.Name at Advantage</strong>
                                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                                    </div>
                                    <div class="toast-body">

                                    </div>
                                </div>
                            </div>
                            <!--Skill Disadvantage-->
                            <div class="toast-container position-fixed bottom-0 end-0 p-3">
                                <div id="@skillToastIdDis" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                                    <div class="toast-header">
                                        <strong class="me-auto">@skill.Proficiency.Name at Disadvantage</strong>
                                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                                    </div>
                                    <div class="toast-body">

                                    </div>
                                </div>
                            </div>
                            <!--End of skill roll Toast Section-->
                        }
                    </ul>
                </div>
            </div>

            <!--Main Sheet Area-->
            <div class="col">
                <!--Stat Cards-->
                <div class="row row-cols-2 row-cols-md-3 row-cols-xl-6">
                    <div class="col">
                        <div class="card text-center mb-3" style="width: 10rem;">
                            <div class="card-body">
                                <h5 class="card-title">Strength</h5>
                                <h3>@Model.Strength</h3>
                                <h5>@Model.GetModifier("Strength")</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-center mb-3" style="width: 10rem;">
                            <div class="card-body">
                                <h5 class="card-title">Dexterity</h5>
                                <h3>@Model.Dexterity</h3>
                                <h5>@Model.GetModifier("Dexterity")</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-center mb-3" style="width: 10rem;">
                            <div class="card-body">
                                <h5 class="card-title">Constitution</h5>
                                <h3>@Model.Constitution</h3>
                                <h5>@Model.GetModifier("Constitution")</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-center mb-3" style="width: 10rem;">
                            <div class="card-body">
                                <h5 class="card-title">Intelligence</h5>
                                <h3>@Model.Intelligence</h3>
                                <h5>@Model.GetModifier("Intelligence")</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-center mb-3" style="width: 10rem;">
                            <div class="card-body">
                                <h5 class="card-title">Wisdom</h5>
                                <h3>@Model.Wisdom</h3>
                                <h5>@Model.GetModifier("Wisdom")</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card text-center mb-3" style="width: 10rem;">
                            <div class="card-body">
                                <h5 class="card-title">Charisma</h5>
                                <h3>@Model.Charisma</h3>
                                <h5>@Model.GetModifier("Charisma")</h5>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Info Cards-->
                <div class="container">
                    <div class="row row-cols-1 row-cols-lg-2 row-cols-xl-4">
                        <div class="col">
                            <div class="card text-center mb-3 h-100" style="width: 14rem;">
                                <div class="card-body">
                                    <h5 class="card-title">Proficiency</h5>
                                    <h3>@Model.ProficiencyBonus</h3>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Initiative</h5>
                                    <h3>@Model.GetModifier("Dexterity")</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card text-center mb-3 h-100" style="width: 14rem;">
                                <div class="card-body">
                                    <h5 class="card-title">Max Health</h5>
                                    <input type="hidden" asp-for="MaxHealth" />
                                    <h3>@Model.MaxHealth</h3>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Armor Class</h5>
                                    <h3>@armorClass</h3>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card text-center mb-3 h-100" style="width: 14rem;">
                                <div class="card-body">
                                    <h5 class="card-title">Current Health</h5>
                                    <div class="input-group input-group-lg">
                                        <input asp-for="CurrentHealth" type="number" max="@Model.MaxHealth" min="0" class="form-control text-center">
                                    </div>
                                </div>
                                <div class="card-body">
                                    <h5 class="card-title">Temp Health</h5>
                                    <div class="input-group input-group-lg">
                                        <input asp-for="TempHealth" type="number" min="0" class="form-control text-center" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card text-center mb-3 h-100" style="width: 14rem;">
                                <div class="card-body">
                                    <div class="card-body">
                                        <h5 class="card-title">Walking Speed</h5>
                                        <input type="hidden" asp-for="WalkingSpeed" />
                                        <h3>@Model.WalkingSpeed</h3>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">Death Saves</h5>
                                        <label for="successes">Successes</label>
                                        <br>
                                        <input id="successes" type="checkbox">
                                        <input id="successes" type="checkbox">
                                        <input id="successes" type="checkbox">
                                        <br>
                                        <label for="failures">Failures</label>
                                        <br>
                                        <input id="failures" type="checkbox">
                                        <input id="failures" type="checkbox">
                                        <input id="failures" type="checkbox">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>

                <!--Character Accordion-->
                <div class="accordion" id="CharacterSheet">
                    <!--Action Area-->
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-BasicActions" aria-expanded="true"
                                    aria-controls="panelsStayOpen-BasicActions">
                                Actions
                            </button>
                        </h2>
                        <div id="panelsStayOpen-BasicActions" class="accordion-collapse collapse show">
                            <div class="accordion-body">
                                <strong>Placeholder for weapon attacks?</strong>
                            </div>
                        </div>
                    </div>
                    <!--Spell Area-->
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-Spells" aria-expanded="false" aria-controls="panelsStayOpen-Spells">
                                Spells? If the character has none don't make this one?
                            </button>
                        </h2>
                        <div id="panelsStayOpen-Spells" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                <strong>Maybe another accordion here for all spell levels?</strong>
                                <div class="accordion" id="accordionExample">
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                                Cantrips
                                            </button>
                                        </h2>
                                        <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <div class="row row-cols-md-1 row-cols-lg-2 row-cols-xxl-3">
                                                    <div class="col">
                                                        <div class="card text-center" style="width: 20rem;">
                                                            <div class="card-body">
                                                                <h5 class="card-title">Spell Name</h5>
                                                                <h6 class="card-subtitle mb-2 text-body-secondary">School</h6>
                                                                <h6 class="mb-2">Casting Time: Action</h6>
                                                                <h6 class="mb-2">Range: Touch</h6>
                                                                <h6 class="mb-2">Components: V, S, M</h6>
                                                                <h6 class="mb-2">Duration: Instant</h6>
                                                                <p>Description</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="card text-center" style="width: 20rem;">
                                                            <div class="card-body">
                                                                <h5 class="card-title">Spell Name</h5>
                                                                <h6 class="card-subtitle mb-2 text-body-secondary">School</h6>
                                                                <h6 class="mb-2">Casting Time: Action</h6>
                                                                <h6 class="mb-2">Range: Touch</h6>
                                                                <h6 class="mb-2">Components: V, S, M</h6>
                                                                <h6 class="mb-2">Duration: Instant</h6>
                                                                <p>Description</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="card text-center" style="width: 20rem;">
                                                            <div class="card-body">
                                                                <h5 class="card-title">Spell Name</h5>
                                                                <h6 class="card-subtitle mb-2 text-body-secondary">School</h6>
                                                                <h6 class="mb-2">Casting Time: Action</h6>
                                                                <h6 class="mb-2">Range: Touch</h6>
                                                                <h6 class="mb-2">Components: V, S, M</h6>
                                                                <h6 class="mb-2">Duration: Instant</h6>
                                                                <p>Description</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="card text-center" style="width: 20rem;">
                                                            <div class="card-body">
                                                                <h5 class="card-title">Spell Name</h5>
                                                                <h6 class="card-subtitle mb-2 text-body-secondary">School</h6>
                                                                <h6 class="mb-2">Casting Time: Action</h6>
                                                                <h6 class="mb-2">Range: Touch</h6>
                                                                <h6 class="mb-2">Components: V, S, M</h6>
                                                                <h6 class="mb-2">Duration: Instant</h6>
                                                                <p>Description</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                Spell Slots Used
                                            </button>
                                        </h2>
                                        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                                <strong>Loop to populate checkboxes for each spell slot the player has</strong>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="accordion-item">
                                        <h2 class="accordion-header">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                1st Level Spells
                                            </button>
                                        </h2>
                                        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                                            <div class="accordion-body">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Feature Area-->
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-Features" aria-expanded="false" aria-controls="panelsStayOpen-Features">
                                Features
                            </button>
                        </h2>
                        <div id="panelsStayOpen-Features" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                <div class="accordion" id="Features">
                                    @foreach (Feature features in Model.Features)
                                    {
                                        <div class="accordion-item">
                                            <h2 class="accordion-header">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                        data-bs-target="#panelsStayOpen-@features.FeatureId" aria-expanded="false"
                                                        aria-controls="panelsStayOpen-@features.FeatureId">
                                                    @features.Name, Level: @features.Level, @features.Source
                                                </button>
                                            </h2>
                                            <div id="panelsStayOpen-@features.FeatureId" class="accordion-collapse collapse">
                                                <div class="accordion-body">
                                                    <strong>@features.Description</strong>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Inventory Area-->
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-Inventory" aria-expanded="false"
                                    aria-controls="panelsStayOpen-Inventory">
                                Inventory
                            </button>
                        </h2>
                        <div id="panelsStayOpen-Inventory" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                <strong>Placeholder</strong>
                            </div>
                        </div>
                    </div>
                    <!--Proficiencies Area-->
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-Languages" aria-expanded="false"
                                    aria-controls="panelsStayOpen-Languages">
                                Proficiencies
                            </button>
                        </h2>
                        <div id="panelsStayOpen-Languages" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                <ol class="list-group list-group">
                                    @{
                                        List<CharacterProficiency> languageProf = Model.GetProficienciesByType("language");
                                        if (languageProf.Count > 0)
                                        {
                                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                                <div class="ms-2 me-auto">
                                                    <div class="fw-bold">Language</div>
                                                    <ul class="list-group list-group-flush">
                                                        @foreach (CharacterProficiency language in languageProf)
                                                        {
                                                            <li class="list-group-item">@language.Proficiency.Name</li>
                                                        }
                                                    </ul>
                                                </div>
                                            </li>
                                        }
                                    }
                                    @{
                                        List<CharacterProficiency> toolProf = Model.GetProficienciesByType("tool");
                                        if (toolProf.Count > 0)
                                        {
                                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                                <div class="ms-2 me-auto">
                                                    <div class="fw-bold">Tool</div>
                                                    <ul class="list-group list-group-flush">
                                                        @foreach (CharacterProficiency tool in toolProf)
                                                        {
                                                            <li class="list-group-item">@tool.Proficiency.Name</li>
                                                        }
                                                    </ul>
                                                </div>
                                            </li>
                                        }
                                    }
                                    @{
                                        List<CharacterProficiency> armorProf = Model.GetProficienciesByType("armor");
                                        if (armorProf.Count > 0)
                                        {
                                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                                <div class="ms-2 me-auto">
                                                    <div class="fw-bold">Armor</div>
                                                    <ul class="list-group list-group-flush">
                                                        @foreach (CharacterProficiency armor in armorProf)
                                                        {
                                                            <li class="list-group-item">@armor.Proficiency.Name</li>
                                                        }
                                                    </ul>
                                                </div>
                                            </li>
                                        }
                                    }
                                    @{
                                        List<CharacterProficiency> weaponProf = Model.GetProficienciesByType("weapon");
                                        if (weaponProf.Count > 0)
                                        {
                                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                                <div class="ms-2 me-auto">
                                                    <div class="fw-bold">Weapon</div>
                                                    <ul class="list-group list-group-flush">
                                                        @foreach (CharacterProficiency weapon in weaponProf)
                                                        {
                                                            <li class="list-group-item">@weapon.Proficiency.Name</li>
                                                        }
                                                    </ul>
                                                </div>
                                            </li>
                                        }
                                    }
                                    @{
                                        List<CharacterProficiency> instrumentProf = Model.GetProficienciesByType("instrument");
                                        if (instrumentProf.Count > 0)
                                        {
                                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                                <div class="ms-2 me-auto">
                                                    <div class="fw-bold">Instrument</div>
                                                    <ul class="list-group list-group-flush">
                                                        @foreach (CharacterProficiency instrument in instrumentProf)
                                                        {
                                                            <li class="list-group-item">@instrument.Proficiency.Name</li>
                                                        }
                                                    </ul>
                                                </div>
                                            </li>
                                        }
                                    }
                                </ol>
                            </div>
                        </div>
                    </div>
                    <!--Notes Area-->
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#panelsStayOpen-Notes" aria-expanded="false"
                                    aria-controls="panelsStayOpen-Notes">
                                Notes
                            </button>
                        </h2>
                        <div id="panelsStayOpen-Notes" class="accordion-collapse collapse">
                            <div class="accordion-body">
                                <textarea asp-for="PlayerNotes" style="width: 100%; min-height:15rem"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Flex div close-->

    </div>
    <!--End of Character Sheet Layout-->
    <!--Hidden Storage Start-->
    <input type="hidden" asp-for="CharacterId" />
    <input type="hidden" asp-for="Name" />
    <input type="hidden" asp-for="Race" />
    <input type="hidden" asp-for="Race.RaceId" />
    <input type="hidden" asp-for="Race.Name" />
    <input type="hidden" asp-for="Background" />
    <input type="hidden" asp-for="Background.BackgroundId" />
    <input type="hidden" asp-for="Background.Name" />
    <input type="hidden" asp-for="Level" />
    <input type="hidden" asp-for="Classes" />
    <input type="hidden" asp-for="Features" />
    <input type="hidden" asp-for="AvailableHitDice" />
    <input type="hidden" asp-for="Strength" />
    <input type="hidden" asp-for="Dexterity" />
    <input type="hidden" asp-for="Constitution" />
    <input type="hidden" asp-for="Intelligence" />
    <input type="hidden" asp-for="Wisdom" />
    <input type="hidden" asp-for="Charisma" />
    <input type="hidden" asp-for="Inventory" />
    <input type="hidden" asp-for="Inventory.InventoryId" />
    <input type="hidden" asp-for="Features" />
    <!--Hidden Storage End-->
    <!-- Left over from generated code (possible later implementation)
    <div class="form-group">
        <label asp-for="Resistances" class="control-label"></label>
        <input asp-for="Resistances" class="form-control" />
        <span asp-validation-for="Resistances" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Immunities" class="control-label"></label>
        <input asp-for="Immunities" class="form-control" />
        <span asp-validation-for="Immunities" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Vulnerabilities" class="control-label"></label>
        <input asp-for="Vulnerabilities" class="form-control" />
        <span asp-validation-for="Vulnerabilities" class="text-danger"></span>
    </div>
    -->

    <br>

    <!--Exit Character Sheet Button Bar-->
    <div class="form-group btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups" role="toolbar">
        <div class="btn-toolbar" role="toolbar">
            <div class="btn-group me-2" role="group">
                <input type="submit" value="Save and exit" class="btn btn-primary" />
            </div>
            <div class="btn-group me-2" role="group">
                <input type="button" value="Exit w/o Saving" class="btn btn-danger" onclick="location.href='@Url.Action("Index", "Characters")'" />
            </div>
        </div>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/js/site.js"></script>
}