@model CreateCharacterViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Character</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
				<label asp-for="Name" class="control-label"></label>
				<input asp-for="Name" class="form-control" />
				<span asp-validation-for="Name" class="text-danger"></span>
            </div>
            @*
                In order to have multiple accordions on the same page,
                each accordion must have a unique id.

                The id of the accordion is used as the data-bs-parent
                attribute of the accordion-body div.

                Id naming convention: accordion section + property name
                i.e. accordionClasses, headingClasses, collapseClasses
            *@
            <div class="form-group accordion" id="accordionClasses">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingClasses">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseClasses" aria-expanded="true" aria-controls="collapseOne">
                            Classes
                        </button>
                    </h2>
                    <div id="collapseClasses" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <select>
                                @for(int i = 0; i < 10; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group accordion" id="accordionBackground">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingBackground">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseBackground" aria-expanded="true" aria-controls="collapseOne">
                            Background
                        </button>
                    </h2>
                    <div id="collapseBackground" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <select>
                                @for (int i = 0; i < 10; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group accordion" id="accordionProficiencies">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingProficiencies">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseProficiencies" aria-expanded="true" aria-controls="collapseOne">
                            Proficiencies
                        </button>
                    </h2>
                    <div id="collapseProficiencies" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <select>
                                @for (int i = 0; i < 10; i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
