@model CreateCharacterViewModel
@inject IDBHelper DBHelper

@{
    ViewData["Title"] = "Create a Character";
}

<h1>Create a Character</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
				<label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" value="Unnamed Character" />
				<span asp-validation-for="Name" class="text-danger"></span>
            </div><br />
            @*
                In order to have multiple accordions on the same page,
                each accordion must have a unique id.

                The id of the accordion is used as the data-bs-parent
                attribute of the accordion-body div.

                Id naming convention: accordion section + property name
                i.e. accordionClasses, headingClasses, collapseClasses
            *@

            @* Accordion for Class selection *@
            <div class="form-group accordion" id="accordionClasses">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingClasses">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseClasses" aria-expanded="true" aria-controls="collapseOne">
                            Classes
                        </button>
                    </h2>
                    <div id="collapseClasses" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <input asp-for="AvailableClasses" type="hidden" value="@Model.AvailableClasses" />
                            <select asp-for="ClassId">
                                @foreach(Class characterClass in await DBHelper.GetAllClasses())
								{
									<option value="@characterClass.ClassId">@characterClass.Name</option>
								}
                            </select>
                        </div>
                    </div>
                </div>
            </div><br />

            @* Accordion for Background selection *@
            <div class="form-group accordion" id="accordionBackground">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingBackground">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseBackground" aria-expanded="true" aria-controls="collapseOne">
                            Background
                        </button>
                    </h2>
                    <div id="collapseBackground" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <input asp-for="AvailableBackgrounds" type="hidden" value="@Model.AvailableBackgrounds" />
                            <select asp-for="BackgroundId">
                                @foreach(Background characterBackground in await DBHelper.GetAllBackgrounds())
                                {
                                    <option value="@characterBackground.BackgroundId">@characterBackground.Name (@characterBackground.Sourcebook)</option>
                                }
                            </select>
                            <p id="descriptionBackground">@Model.AvailableBackgrounds[Model.BackgroundId].Description</p>
                        </div>
                    </div>
                </div>
            </div><br />

            @* Accordion for Proficiencies selection *@
            <div class="form-group accordion" id="accordionProficiencies">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingProficiencies">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseProficiencies" aria-expanded="true" aria-controls="collapseOne">
                            Proficiencies
                        </button>
                    </h2>
                    <div id="collapseProficiencies" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <select>
                                @foreach (var characterProficiencies in await DBHelper.GetAllProficiencies())
                                {
                                    <option value="@characterProficiencies.ProficiencyId">@characterProficiencies.Name</option>
                                })
                            </select>
                        </div>
                    </div>
                </div>
            </div><br />

            @* Accordion for Race selection *@
            <div class="form-group accordion" id="accordionRaces">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingRaces">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseRaces" aria-expanded="true" aria-controls="collapseOne">
                            Races
                        </button>
                    </h2>
                    <div id="collapseRaces" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <input asp-for="AvailableRaces" type="hidden" value="@Model.AvailableRaces" />
                            <select asp-for="RaceId" >
                                @foreach(Race race in await DBHelper.GetAllRaces())
                                {
                                    <option value=@race.RaceId>@race.Name (@race.Sourcebook)</option>
                                }
                            </select>
                            <p id="descriptionRace">@Model.AvailableRaces[Model.RaceId].Description</p>
                        </div>
                    </div>
                </div>
            </div><br />

            @* Input for the Alignment entry *@
            <div class="form-group">
                <label asp-for="Alignment" class="control-label"></label>
                <input asp-for="Alignment" class="form-control" value="True Neutral" />
                <span asp-validation-for="Alignment" class="text-danger"></span>
            </div><br />

            @* Accordion for Stat entry *@
            <div class="form-group accordion" id="accordionStats">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingStats">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseStats" aria-expanded="true" aria-controls="collapseOne">
                            Ability Scores
                        </button>
                    </h2>
                    <div id="collapseStats" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <label asp-for="Strength" class="control-label"></label>
                            <input asp-for="Strength" class="form-control" value="8"/>
                            <span asp-validation-for="Strength" class="text-danger"></span><br />

                            <label asp-for="Dexterity" class="control-label"></label>
                            <input asp-for="Dexterity" class="form-control" value="8"/>
                            <span asp-validation-for="Dexterity" class="text-danger"></span><br />

                            <label asp-for="Constitution" class="control-label"></label>
                            <input asp-for="Constitution" class="form-control" value="8"/>
                            <span asp-validation-for="Constitution" class="text-danger"></span><br />

                            <label asp-for="Intelligence" class="control-label"></label>
                            <input asp-for="Intelligence" class="form-control" value="8"/>
                            <span asp-validation-for="Intelligence" class="text-danger"></span><br />

                            <label asp-for="Wisdom" class="control-label"></label>
                            <input asp-for="Wisdom" class="form-control" value="8"/>
                            <span asp-validation-for="Wisdom" class="text-danger"></span><br />

                            <label asp-for="Charisma" class="control-label"></label>
                            <input asp-for="Charisma" class="form-control" value="8"/>
                            <span asp-validation-for="Charisma" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div><br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
