@model DnDesigner.Models.Character

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Character</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Level)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Level)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Alignment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Alignment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProficiencyBonus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProficiencyBonus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxHealth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxHealth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentHealth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrentHealth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TempHealth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TempHealth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxHitDice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxHitDice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WalkingSpeed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WalkingSpeed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Strength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Strength)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dexterity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dexterity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Constitution)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Constitution)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Intelligence)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Intelligence)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Wisdom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Wisdom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Charisma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Charisma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Resistances)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Resistances)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Immunities)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Immunities)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vulnerabilities)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vulnerabilities)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.CharacterId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
