@model IEnumerable<DnDesigner.Models.Character>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProficiencyBonus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxHealth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentHealth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TempHealth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AvailableHitDice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HitDieType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WalkingSpeed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Strength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dexterity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Constitution)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Intelligence)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wisdom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Charisma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resistances)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Immunities)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vulnerabilities)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProficiencyBonus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxHealth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentHealth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TempHealth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AvailableHitDice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HitDieType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WalkingSpeed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Strength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dexterity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Constitution)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Intelligence)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wisdom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Charisma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resistances)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Immunities)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vulnerabilities)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CharacterId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CharacterId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CharacterId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
